.phonesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border: 1px solid var(--color-secondary);
    border-width: 1px 0 0 1px;
    width: 100%;
}

@media (min-width: 640px) {
    .phonesContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .phonesContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .phonesContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1400px) {
    .phonesContainer {
        grid-template-columns: repeat(5, 1fr);
    }
}
