.searchBarContainer {
    position: sticky;
    width: 100%;
    margin-bottom: 20px;
    top: 104px;
    z-index: 1000;
    background-color: white;
}

.searchInput {
    width: 100%;
    padding: 8px 0;
    font-size: var(--input-font-size);
    border: none;
    border-bottom: 1px solid var(--border-color);
    outline: none;
    transition: border-bottom-color 0.3s ease;
}

.searchInput::placeholder {
    color: var(--text-color-secondary);
    font-size: var(--input-font-size);
}

.searchInput:focus {
    border-color: var(--border-color);
}

.resultsText {
    margin-top: 12px;
    font-size: var(--input-font-size);
    color: var(--text-color);
    font-weight: 300;
    text-transform: uppercase;
}
